.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 64px;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.badge.square {
  border-radius: 4px;
}

.badge.pill {
  border-radius: 12px;
}
