#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  --color-gray-badge-bg: #F3F4F6;
  --color-red-badge-bg: #FEE2E2;
  --color-yellow-badge-bg: #FEF3C7;
  --color-green-badge-bg: #D1FAE5;
  --color-blue-badge-bg: #DBEAFE;
  --color-indigo-badge-bg: #E0E7FF;
  --color-purple-badge-bg: #EDE9FE;
  --color-pink-badge-bg: #FCE7F3;
  --color-gray-badge-font-color: #1F2937;
  --color-red-badge-font-color: #991B1B;
  --color-yellow-badge-font-color: #92400E;
  --color-green-badge-font-color: #065F46;
  --color-blue-badge-font-color: #1E40AF;
  --color-indigo-badge-font-color: #3730A3;
  --color-purple-badge-font-color: #5B21B6;
  --color-pink-badge-font-color: #9D174D;

  --color-success-banner-bg: #ECFDF5;
  --color-warning-banner-bg: #FFFBEB;
  --color-error-banner-bg: #FEF2F2;
  --color-neutral-banner-bg: #EFF6FF;
  --color-success-banner-font-color: #065F46;
  --color-warning-banner-font-color: #92400E;
  --color-error-banner-font-color: #92400E;
  --color-neutral-banner-font-color: #1E40AF;
}






